@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.AdvancedPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<h1>Hi from Advanced Page Template</h1>

@Html.Partial("PageContent");