@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = "BasePage.cshtml";
}

@Html.Partial("PageContent")

<div class="container">
    <div class="row">
        <div class="col-md-12">
            Hello
            @if (!string.IsNullOrEmpty(Request.QueryString["query"]))
            {
                <ul>
                    @foreach (var result in Umbraco.TypedSearch(Request.QueryString["query"]))
                    {
                        <li>
                            <a href="@result.Url">@result.Name</a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>