@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.StandardPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

@Html.Partial("PageContent")

<!-- Standard Page Properties -->
<h1>From Standard Page: @Umbraco.Field("heading")</h1>

<!-- SEO Page Properties -->