@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


<div class="container-fluid">
    @Umbraco.RenderMacro("renderUmbracoForm", new { FormGuid = Model.Content.GetPropertyValue("formPicker"), FormTheme = Model.Content.GetPropertyValue("themePicker"), ExcludeScripts = "1" })
</div>