@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Forms.Core
@using Umbraco.Forms.Mvc.Models
@using Umbraco.Web

<h1>Hello from PageContent</h1>
@{ 
    var pageContent = Model.Content.Children(new[] { "pageContent" }).FirstOrDefault();

    if (pageContent != null)
    {
        var selection = pageContent.Children.Where(x => x.IsVisible());

        if (selection != null)
        {
            foreach (var page in selection)
            {
                Html.RenderPartial(page.DocumentTypeAlias, page);
            }
        }
    }
}