@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ var hello = Model.Content.GetPropertyValue("heading");}

@{ var hello2 = Model.Content.GetPropertyValue("link");}

@{ 
    var selection = Model.Content.FirstChild("pageContent").Children("textBanner")
                    .Where(x => x.IsVisible());
}

<section class="text-banner">
    <div>
        <div>
            <div>
                @if (Model.Content.GetPropertyValue("heading") != null)
                {
                    <h1>heading from TextBanner: @Umbraco.Field("heading")</h1>
                }
                @if (Model.Content.GetPropertyValue("text") != null)
                {
                    <div>text from TextBanner: @Umbraco.Field("text")</div>
                }
                @if (Model.Content.GetPropertyValue("link") != null)
                {
                    <p><a href="@Umbraco.Field("link")"></a>Link from TextBanner</p>
                }

            </div>
        </div>
    </div>
</section>